nav {
    font-family: 'Stylish', helvetica, sans-serif;
    background-color: #863e34;
    color:#fff;
}
h1 {
    font-family: 'Carter One', cursive, sans-serif;
}
.motto {
    font-family: 'Stylish', helvetica, sans-serif;
}
p {
    font-family: 'Stylish', helvetica, sans-serif;
}
